<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>今日我们都是护旗手</title>
  <script src="/static/js/jquery-2.1.1.min.js"></script>
</head>
<style type="text/css">
/* body */
body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* 加载 */
.loading{
  width:100%;
  /* height: 100%; */
  background-color: black;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.card {
  width: 100%;
  display: block;
  border-bottom: 0.5px solid;
  border-color: #ebebeb;
}
.card:active {
  background-color: #ebebeb;
}
a {
  text-decoration: none;
}
</style>

<body>
  <script>
  document.onreadystatechange=function(){
    console.log(document.readyState);
    if(document.readyState=="complete") {
      $(".loading").fadeOut();
    }
  }
  </script>
  <img class="loading" src="/static/img/weixin_home.jpg" alt="">
  <!-- loading -->

  <a href="/scene1"><img class="card" src="/static/img/card/card1.png" alt=""></a>
  <a href="/scene2"><img class="card" src="/static/img/card/card2.png" alt=""></a>
  <a href="/scene3"><img class="card" src="/static/img/card/card3.png" alt=""></a>
  <a href="/scene4"><img class="card" src="/static/img/card/card4.png" alt=""></a>
  <a href="/scene5"><img class="card" src="/static/img/card/card5.png" alt=""></a>
  <a href="/scene6"><img class="card" src="/static/img/card/card6.png" alt=""></a>
  <a href="/scene7"><img class="card" src="/static/img/card/card7.png" alt=""></a>

  <img class="footer" src="/static/img/weixin_footer.png" alt="">

<script>
</script>
</body>
</html>