<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--meta name="viewport" content="width=device-width,initial-scale=1" /-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="description" content="">
	<title>十一升旗手</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/barrage.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/loader.js') }}"></script>
	<script type="text/javascript">
		var app = { useSystemScroll: false };
		
		//此处修改用户头像
		headimgurl = "{{ userinfo.headimgurl }}";
		
		app._load_head = headimgurl == "undefined" ? "{{ url_for('static', filename='img/user0.jpg') }}" : headimgurl;
		console.log(app._load_head)
		window.addEventListener('touchmove', function(e){ !app.useSystemScroll && e.preventDefault(); }, false);
		window.addEventListener('load', function(){
			var myload = new loader('.asset');
			var loadTxt = document.querySelector('.asset ._load var');
			document.querySelector('body').style.fontSize=window.innerWidth/320*12+'px';
			myload.onLoading=function(p){
				loadTxt.innerText = Math.floor(p*100)+'%'
				if(p<1){ return; }
				setTimeout(function(){ appBegin(); }, 1000);
			}
			setTimeout(function(){ myload.load(); }, 100);
		}, false);
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-transit.min.js') }}"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/barrage.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body class="nowx">
	<div class="asset">
		<div class="_list">
			<link asseturl="{{ url_for('static', filename='css/main.css') }}">
			<script asseturl="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
			<script asseturl="{{ url_for('static', filename='js/jquery-transit.min.js') }}"></script>
			<script asseturl="{{ url_for('static', filename='js/main.js') }}"></script>  
			<img asseturl="{{ url_for('static', filename='img/loading.png') }}">
			
			<img asseturl="{{ url_for('static', filename='img/ico.png') }}">
			<img asseturl="{{ url_for('static', filename='img/s2-1.gif') }}">
			<img asseturl="{{ url_for('static', filename='img/s1_4.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/s2-3.png') }}">
			<img asseturl="{{ url_for('static', filename='img/s2-input.png') }}">
			<img asseturl="{{ url_for('static', filename='img/s4-1.jpg') }}">
			
			<img asseturl="{{ url_for('static', filename='img/s2-3.png') }}">
			<img asseturl="{{ url_for('static', filename='img/hand.png') }}">
			<img asseturl="{{ url_for('static', filename='img/user.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user1.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user2.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user3.jpg') }}">
			<!--以下是本人所加的 -->
			<img asseturl="{{ url_for('static', filename='img/user4.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user5.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user6.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user7.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user8.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user9.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user10.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user11.png') }}">

			<span class="ms_ms_self" data-id="{{ userinfo.nickname }}" data-imgurl="{{ userinfo.headimgurl }}" ></span>
		</div>
		<div class="_load">
			<center><sub></sub><sup></sup><em style="background-image: url({{ url_for('static', filename='img/user1.ico') }});"></em><var>0%</var></center>
			<script>
				document.querySelector('.asset ._load em').setAttribute('style', 'background-image: url('+app._load_head+');');
				if(!navigator.userAgent.match(/micromessenger/i)){ document.querySelector('body').setAttribute('class', 'nowx'); }
			</script>
		</div>
	</div>
	
	
	<div class="wrapper">
		
		<section class="s1">
			<header>
				<h3>输入2019，进入群聊</h3>
				<h4><i></i><i></i><i></i><i></i></h4>
			</header>
			<footer>
				<i>1</i><i>2</i><i>3</i>
				<i>4</i><i>5</i><i>6</i>
				<i>7</i><i>8</i><i>9</i>
				<i></i><i>0</i><i><span class="ico1"></span></i>
			</footer>
			<ul>
				<li class="user1"></li>
				<li class="user2"></li>
				<li class="user3"></li>
				<li class="user4"></li>
				<li class="user5"></li>
				<li class="user6"></li>
				<li class="user7"></li>
				<li class="user8"></li>
				<li class="user9"></li>
				<li class="user10"></li>
				<li class="user11"></li>
			</ul>
			<center><a>进入该群</a></center>
		</section>
		
		
		<section class="s2">
			<ul>
				<!-- delay 属性指当前话要停留多少秒 -->
				<li delay="0.5">
					<center><span class="innerTime">10月1日</span></center>
				</li>
				<li delay="1">
					<center><span>晓南、晓航邀请你和同学A、B、C等加入群聊</span></center>
				</li>
				<li delay="2">
					<center><span>晓南修改群名为“回望历史·红旗飘扬”</span></center>
				</li>

				
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>老师们、同学们，晓南向大家问好啦！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/s1_4.jpg" width="60%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>活动要开始了吗？我都迫不及待了！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>哈哈，稍等，先让我来邀请一位历史见证者——“钩沉”。</p>
				</li>
				<li delay="1">
					<center><span>晓航邀请钩沉加入群聊</span></center>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>大家好，我是钩沉，记录了那些遗落在历史里的往事。希望今天的讲述能带给大家如临其境的感受！</p>
				</li>
				<li delay="1.5">
					<h2 class="user3"></h2>
					<p>哇塞！厉害了！欢迎欢迎~</p>
				</li>
				<li delay="1.5">
					<h2 class="user4"></h2>
					<p>那我们快开始吧！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>表情包（同意）</p>
				</li>
				<!-- <li delay="1.5" href="bless">
					<h2 class="user1"></h2>
					<p>最后，让我们一起给祖国献上祝福吧</p>
				</li> -->
				<li delay="3.5">
					<h2 class="user1"></h2>
					<p>五星红旗是中华人民共和国的国旗，是国家的象征和标志，《国旗法》规定：每个公民和组织“都应当尊重和爱护国旗”。今天，让我们回顾关于国旗的几个难忘瞬间，一起为伟大祖国点赞、加油！</p>
				</li>
				<li delay="3.5">
					<h2 class="user6"></h2>
					<p>1949年10月1日，开国大典之上，毛主席在天安门城楼上亲手按动电钮，第一面五星红旗在天安门广场上冉冉升起。这面五星红旗从此飘扬于东方，中国人民从此站起来了，成为国家的主人。</p>
				</li>
				<li delay="5">
					<h2 class="user6"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/%E5%BC%80%E5%9B%BD%E5%A4%A7%E5%85%B81.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>真是激动人心的时刻！！！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>太激动了！</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>是啊（+表情）</p>
				</li>
				<li delay="2.5">
					<h2 class="user1"></h2>
					<p>五星红旗迎风飘扬的场景太壮观了，它的诞生也是意义非凡。让我们回到五星红旗诞生之前，了解它的诞生过程吧。</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>搬好小板凳。</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<figure><img src="/static/img/applause.gif" width="60%"></figure>
				</li>
				<li delay="2.5">
					<h2 class="user2"></h2>
					<p>解放战争胜利后，新中国的建设开始筹备。在1949年7月，新政治协商会议筹备会发出了征集国旗图案的通告。</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>在众多作品中，曾联松先生的作品脱颖而出。</p>
				</li>
				<li delay="2.5">
					<h2 class="user6"></h2>
					<p>曾联松先生一开始设计的图样，是红色背景中，四颗小星围绕一颗大星，大星上放置锤子镰刀。</p>
				</li>
				<li delay="3.5">
					<h2 class="user6"></h2>
					<p>据先生所言，他设计时是这样想的：中国共产党领导的工农红军是以五角星作为自己的标志的，而中国共产党又是中国人民的大救星，进而决定用五角星来象征它，用四颗小五角星来象征由四个社会阶级组成的人民。</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/国企初稿.png" width="60%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>原来一开始的初稿是这样的啊！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>那么后来呢？</p>
				</li>
				<li delay="3.5">
					<h2 class="user6"></h2>
					<p>此后，根据中国人民政治协商会议小组讨论的意见，去除了类似苏联国旗的锤子镰刀标志，并最终在1949年9月27日正式决定采纳红底五星旗的方案，并将其改名为“五星红旗”。</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>原来这就是五星红旗的诞生和设计理念。</p>
				</li>
				<li delay="2.5" class="my">
					<h2 class="user0"></h2>
					<p>国旗的设计既符合我国政治体系，又表达了广大人民一心爱国向党的精神，真是深刻的设计理念。</p>
				</li>
				<li delay="1.5">
					<h2 class="user4"></h2>
					<p>涨知识了，我还想要知道更多！</p>
				</li>
				<li delay="1.5">
					<h2 class="user3"></h2>
					<figure><img src="/static/img/enen.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>@钩沉</p>
				</li>
				<li delay="1.5" id="question1" href="question">
					<h2 class="user6"></h2>
					<p>你想具体了解哪一方面呢？
						<br><br>
						1. 五星红旗的诞生小谈
						<br>
						2. 五星红旗的设计内涵和制式规范
						<br><br>
						请回复1或者2哦。
					</p>
				</li>
				<li href="wait">
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>了解了这么多知识，我来考考你们吧。</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>表情包（没问题）</p>
				</li>
				<li delay="1.5" id="question2" href="question">
					<h2 class="user2"></h2>
					<p>
						你知道《国旗法》中规定国旗最长的悬挂时间是几天吗？
						<br><br>
						A 30天
						<br>
						B 10天
						<br>
						C 3天
					</p>
				</li>
				<li href="wait">
				</li>
				<li delay="1.5" href="bless">
					<h2 class="user1"></h2>
					<p>最后，让我们一起给祖国献上祝福吧</p>
				</li>
				<li href="wait">
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<figure><img id="" src="/static/img/card.jpg" width="80%"></figure>
				</li>
				
			</ul>
			<!-- <div class="lucky_con">
				<div class="lucky_money">
					<div class="remove_btn"><i class="fa fa-remove"></i></div>
					<img src="{{ url_for('static', filename='img/poster.png') }}">
					<div class="underware"></div>
				</div>
			</div> -->
		</section>
		
		<section class="s2input bgm_on">
			<input id="input_msg" placeholder="" maxlength="50">
			<button id="send_btn">
				发送
			</button>
			<center></center>
			<!-- <p>背景音乐 ON</p> -->
		</section>
		
		<section class="s2packet">
			<center><a></a><a></a></center>
		</section>
		
	</div>

	<!--loading-->
	<div class="loading">
		<center><i></i></center>
	</div>
</body>
</html>