<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="description" content="">
	<title>今日我们都是护旗手</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/barrage.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/loader.js') }}"></script>
	<script type="text/javascript">
		var app = { useSystemScroll: false };
		
		//此处修改用户头像
		headimgurl = "{{ userinfo.headimgurl }}";
		
		app._load_head = headimgurl == "undefined" ? "{{ url_for('static', filename='img/user0.jpg') }}" : headimgurl;
		console.log(app._load_head)
		window.addEventListener('touchmove', function(e){ !app.useSystemScroll && e.preventDefault(); }, false);
		window.addEventListener('load', function(){
			var myload = new loader('.asset');
			var loadTxt = document.querySelector('.asset ._load var');
			document.querySelector('body').style.fontSize=window.innerWidth/320*12+'px';
			myload.onLoading=function(p){
				loadTxt.innerText = Math.floor(p*100)+'%'
				if(p<1){ return; }
				setTimeout(function(){ appBegin(); }, 1000);
			}
			setTimeout(function(){ myload.load(); }, 100);
		}, false);
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-transit.min.js') }}"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/barrage.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/wx_manage.js') }}"></script>
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script> 与下面加载冲突-->
</head>

<body class="nowx">
	<div class="asset">
		<div class="_list">
			<link asseturl="{{ url_for('static', filename='css/main.css') }}">
			<script asseturl="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
			<script asseturl="{{ url_for('static', filename='js/jquery-transit.min.js') }}"></script>
			<script asseturl="{{ url_for('static', filename='js/main.js') }}"></script>  
			<img asseturl="{{ url_for('static', filename='img/loading.png') }}">
			
			<img asseturl="{{ url_for('static', filename='img/ico.png') }}">
			<img asseturl="{{ url_for('static', filename='img/input.png') }}">
			<img asseturl="{{ url_for('static', filename='img/hand.png') }}">

			<img asseturl="{{ url_for('static', filename='img/user1.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user2.png') }}">
			<img asseturl="{{ url_for('static', filename='img/user3.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user4.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user5.jpg') }}">
			<img asseturl="{{ url_for('static', filename='img/user6.jpg') }}">

			<span class="ms_ms_self" data-id="{{ userinfo.nickname }}" data-imgurl="{{ userinfo.headimgurl }}" ></span>
		</div>
		<div class="_load">
			<center><sub></sub><sup></sup><em style="background-image: url('/static/img/user1.ico');"></em><var>0%</var></center>
			<script>
				document.querySelector('.asset ._load em').setAttribute('style', 'background-image: url('+app._load_head+');');
				if(!navigator.userAgent.match(/micromessenger/i)){ document.querySelector('body').setAttribute('class', 'nowx'); }
			</script>
		</div>
	</div>

	<div id="userinfo" style="display: none">{{ userinfo }}</div>

	<div class="wrapper">
		
		<section class="s1">
			<header>
				<h3>输入2019，进入群聊</h3>
				<h4><i></i><i></i><i></i><i></i></h4>
			</header>
			<footer>
				<i>1</i><i>2</i><i>3</i>
				<i>4</i><i>5</i><i>6</i>
				<i>7</i><i>8</i><i>9</i>
				<i></i><i>0</i><i><span class="ico1"></span></i>
			</footer>
			<ul>
				<li class="user1"></li>
				<li class="user2"></li>
				<li class="user3"></li>
				<li class="user4"></li>
				<li class="user5"></li>
				<li class="user6"></li>
				<li class="user7"></li>
				<li class="user8"></li>
				<li class="user9"></li>
				<li class="user10"></li>
				<li class="user11"></li>
			</ul>
			<center><a>进入该群</a></center>
		</section>
		
		
		<section class="s2">
			<ul>
				<!-- delay 属性指当前话要停留多少秒 -->
				<li delay="0.5">
					<center><span class="innerTime">10月1日</span></center>
				</li>
				<li delay="1">
					<center><span>晓南、晓航邀请你和郑永安（南京航空航天大学党委书记）、聂宏（南京航空航天大学校长）、李雷、韩梅梅等加入群聊</span></center>
				</li>
				<li delay="2">
					<center><span>晓南修改群名为“今日我们都是护旗手”</span></center>
				</li>

				

				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>欢迎老师同学们进群！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<figure><img src="/static/img/expression/表情包1.gif" width="60%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/expression/表情包2.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>哇~群里好热闹，是有什么活动吗？</p>
				</li>
				<li delay="2.5">
					<h2 class="user2"></h2>
					<p>2019年是新中国成立70周年，今天我们会一起为祖国庆生哦，成为十四亿分之一的护旗手！</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>好期待！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>此生无悔入华夏，我是护旗手！</p>
				</li>
				<li delay="2.5">
					<h2 class="user6"></h2>
					<p>在成为护旗手之前让我们跟随郑永安书记和聂宏校长，回顾关于国旗的几个难忘瞬间，一起为伟大祖国点赞、加油！</p>
				</li>
				<li delay="2.5">
					<h2 class="user2"></h2>
					<p>同时为了让大家了解得更深入，“小百科”还有很多关于国旗的小知识和小测试等着大家哟，同学们准备好了吗？</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>准备好啦！</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>那我们开始吧~首先有请郑书记为我们分享！</p>
				</li>


				<li delay="3.5">
					<h2 class="user3"></h2>
					<p>各位同学好！大家都知道五星红旗是中华人民共和国的国旗，是国家的象征和标志，那我就先给大家讲讲五星红旗的“历史初登场”，走进五星红旗诞生的那些事。</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/expression/表情包3.gif" width="60%"></figure>
				</li>
				<li delay="5">
					<h2 class="user3"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/%E5%BC%80%E5%9B%BD%E5%A4%A7%E5%85%B81.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="3.5">
					<h2 class="user3"></h2>
					<p>1949年10月1日，开国大典之上，毛主席在天安门城楼亲手按动电钮，第一面五星红旗在天安门广场上冉冉升起。这面五星红旗从此飘扬于东方，中国人民从此站起来了，成为国家的主人！</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>真是激动人心的时刻！！！</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>五星红旗迎风飘扬的场景太壮观了！</p>
				</li>
				<li delay="2.5">
					<h2 class="user2"></h2>
					<p>其实它的诞生也是意义非凡的哦~郑书记，您能为我们讲讲五星红旗的诞生过程吗？</p>
				</li>
				<li delay="2.5">
					<h2 class="user3"></h2>
					<p>没有问题。解放战争胜利后，新中国的建设开始筹备。在1949年7月，新政治协商会议筹备会发出了征集国旗图案的通告。</p>
				</li>
				<li delay="3.5">
					<h2 class="user3"></h2>
					<p>征集国旗图案的消息迅速在全国、海外传开，一幅幅国旗图案从世界各地华人手中飞向祖国北京。不到一个月，就收到了应征国旗图案2992幅。在众多作品中，曾联松先生的作品脱颖而出。</p>
				</li>
				<li delay="3.5">
					<h2 class="user7"></h2>
					<figure><img src="/static/img/国企初稿.png" width="90%"></figure>
				</li>
				<li delay="5.5">
					<h2 class="user3"></h2>
					<p>这是曾联松先生提交的国旗初稿，红色背景中，四颗小星围绕一颗大星，大星上放置锤子镰刀，设计之初的想法是中国共产党领导的工农红军是以五角星作为自己的标志的，而中国共产党又是中国人民的大救星，进而决定用五角星来象征它，用四颗小五角星来象征由四个社会阶级组成的人民。</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>原来一开始的初稿是这样的啊！</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>那么后来呢？</p>
				</li>
				<li delay="3.5">
					<h2 class="user3"></h2>
					<p>之后，根据中国人民政治协商会议小组讨论的意见，去除了类似苏联国旗的锤子镰刀标志，最终在1949年9月27日正式决定采纳红底五星旗的方案，并将其改名为“五星红旗”。</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>原来这就是五星红旗的诞生。</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>亿万人民心向党，真是深刻的设计理念！</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>涨知识了，我还想要知道更多！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>@小百科</p>
				</li>
				<li delay="5.5">
					<h2 class="user7"></h2>
					<p>
						【五星红旗的礼仪】
						<br><br>
						《中华人民共和国国旗法》第十二条规定：国旗“应当早晨升起，傍晚降下”。
						<br><br>
						《中华人民共和国国旗法》规定：为确保国旗的圣洁和完整，天安门广场上空的国旗基本上几天更换一面。每逢重大节日，必须更换新国旗。即使国旗不受损，悬挂的最长时间也不得超过10天。
						<br><br>
						中国的航空公司中只有中国国际航空公司可以在飞行器上喷绘中国国旗。
					</p>
				</li>
				<!-- <li delay="1.5" id="question1" href="question">
					<h2 class="user7"></h2>
					<p>你想具体了解哪一方面呢？（回复数字）
						<br><br>
						1. 五星红旗的设计内涵和制式规范
						<br>
						2. 五星红旗的礼仪
						<br>
						3. 我都了解过啦，跳过
					</p>
				</li>
				<li href="wait">
				</li> -->
				<li delay="1.5">
					<h2 class="user7"></h2>
					<p>了解了这么多知识，我来考考你们吧。</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/expression/表情包4.gif" width="60%"></figure>
				</li>
				<li delay="1.5" id="question2" href="question">
					<h2 class="user7"></h2>
					<p>
						你知道《国旗法》中规定天安门广场上空国旗最长的悬挂时间是几天吗？（回复字母）
						<br><br>
						A 30天
						<br>
						B 10天
						<br>
						C 3天
					</p>
				</li>
				<li href="wait">
				</li>

				<li delay="2.5">
					<h2 class="user2"></h2>
					<p>从五星红旗在天安门广场冉冉升起，到它飘扬在世界之巅——珠穆朗玛峰，你们知道是哪一年吗？</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/expression/表情包5.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/expression/表情包6.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>@小百科</p>
				</li>
				<li delay="3.5">
					<h2 class="user7"></h2>
					<figure><img src="/static/img/珠穆朗玛峰.png" width="90%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>这是中国第一次征服珠峰吗？</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>问题就让聂校长给我们解答吧！</p>
				</li>
				<li delay="4.5">
					<h2 class="user4"></h2>
					<p>是的。这是1960年5月25日，中国登山队第一次从东北山脊登上海拔8848.13米的世界最高峰珠穆朗玛峰的纪念合照。从左到右，依次是王富洲、贡布、屈银华。他们创造了人类首次从北坡登上珠峰的世界纪录。</p>
				</li>
				<li delay="6">
					<h2 class="user4"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/pandengzhufeng.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/expression/表情包7.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>为什么我们要选择在条件很艰苦的1960年登上珠峰呢？</p>
				</li>
				<li delay="6.5">
					<h2 class="user4"></h2>
					<p>这个问题问得好！珠穆朗玛峰位于中国和尼泊尔两国边境，对于珠峰的归属，当时中尼双方存在争议。划界谈判时，中方提议，将边境线划在珠峰顶峰，但尼方以尼泊尔登山队率先于1953年登顶珠峰为由，认为珠穆朗玛峰并非中国领土。正是这样的背景，使得中国攀登珠蜂，陡然间成了一项庄严的国家使命。再苦再难，也要克服努力完成。</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>真是一条充满艰险的登顶之路！</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>看着五星红旗登上珠峰，大家有什么感想吗？</p>
				</li>
				<li delay="2.5" class="my">
					<h2 class="user0"></h2>
					<p>中国登山前辈的精神让人敬佩！是他们的“无我”之境，让冰天雪地里飘扬起那一抹鲜艳的红！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>让我们为中国登山人的精神鼓掌！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/expression/表情包8.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<figure><img src="/static/img/expression/表情包9.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/expression/表情包10.gif" width="60%"></figure>
				</li>
				<li delay="4.5">
					<h2 class="user4"></h2>
					<p>中国登山者带着五星红旗登顶珠峰，对中华儿女而言是无上荣光。时至今日，中国的领土纠纷仍在发生，但我们要始终坚定，中国的领土一点都不能少！作为青年意气风发的你们，应向登山前辈们学习，练就过硬本领，甘于奉献、勇于担当。</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/expression/表情包11.gif" width="60%"></figure>
				</li>
				<li delay="2.5">
					<h2 class="user7"></h2>
					<p>我还为大家准备了更多的资料，让大家更进一步了解当年的登顶故事哦。</p>
				</li>
				<li delay="1.5" id="question3" href="question">
					<h2 class="user7"></h2>
					<p>
						你想具体了解哪一方面？ （回复数字）
						<br><br>
						1.五星红旗的登顶之险
						<br>
						2.五星红旗的登顶成就
						<br>
						3.五星红旗的登顶意义
						<br>
						4.我都了解过啦，跳过
					</p>
				</li>
				<li href="wait">
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>看完啦，这一次的问题我肯定能答对！@小百科</p>
				</li>
				<li delay="1.5" id="question4" href="question">
					<h2 class="user7"></h2>
					<p>
						你知道中国登山队首次登顶珠峰是哪一年吗？（输入字母即可）
						<br><br>
						A 1960年
						<br>
						B 1959年
						<br>
						C 1953年
					</p>
				</li>
				<li href="wait">
				</li>

				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>现在让我们把时间调回到1971年，看一张老照片。</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<figure><img src="/static/img/重返联合国.png" width="90%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>这不是中国代表团出席联合国大会的照片吗？</p>
				</li>
				<li delay="5.5">
					<h2 class="user3"></h2>
					<p>这位同学说得对。照片中是乔团长和代表团成员首次出席联合国大会记者拍下的。1971年11月1日，美国当地时间8时整，中华人民共和国的国旗和所有联合国的国旗按英文字母顺序被升起。联合国总部大厦门前的旗林里，第一次飘扬起了中华人民共和国的五星红旗。</p>
				</li>
				<li delay="6">
					<h2 class="user3"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/chongfanlianheguo.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>我看过相关历史，当时的胜利来之不易。</p>
				</li>
				<li delay="2.5">
					<h2 class="user3"></h2>
					<p>是的。“中国是联合国的创始成员国之一”，这句不到三秒钟就能够说完的话，我们花了22年才做到。</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>五星红旗能够顺利入驻联合国，前辈们太不容易了！</p>
				</li>
				<li delay="2.5" class="my">
					<h2 class="user0"></h2>
					<p>看着祖国一点点强大起来，赢得世界的认可和尊重，真是令人激动啊！</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>我们开始做题目吧~@小百科</p>
				</li>
				<li delay="1.5" id="question5" href="question">
					<h2 class="user7"></h2>
					<p>
						你知道这是中华人民共和国在多少年后进入联合国吗？（输入字母即可）
						<br><br>
						A 20年
						<br>
						B 22年
						<br>
						C 21年
					</p>
				</li>
				<li href="wait">
				</li>
				<li delay="2.5">
					<h2 class="user4"></h2>
					<p>同学们知道吗?为了让五星红旗在联合国总部升起，我们用了22年；而让它在奥运会赛场上升起，我们等待了35年。</p>
				</li>
				<li delay="6">
					<h2 class="user4"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/%E8%AE%B8%E6%B5%B7%E5%B3%B0%E9%87%91%E7%89%8C.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="2.5" class="my">
					<h2 class="user0"></h2>
					<p>我知道这个~这是奥运史上第一次奏起中华人民共和国国歌，升起中华人民共和国国旗。</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>真是历史性的一刻，聂校长能为我们详细讲讲吗？</p>
				</li>
				<li delay="5.5">
					<h2 class="user4"></h2>
					<p>没问题。许海峰参加男子自选手枪慢射是1984年洛杉矶奥运会第一个决出金牌的项目。当日在洛杉矶普拉多射击场，有两个中国人参加这项比赛——王义夫和许海峰。不同于王义夫先前在全国运动会双金入囊，当时的许海峰虽成绩不错，却还未经大赛历练。直到最后十发，许海峰原本稳定的发挥突然失常。</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<figure><img src="/static/img/expression/表情包12.png" width="60%"></figure>
				</li>
				<li delay="5.5">
					<h2 class="user4"></h2>
					<p>连着七发子弹最高只有八环，感到状态不对的许海峰及时停下来调整状态，所有人屏息期待，最终，最后的三环成就了他566环的成绩，也赢下了我们国家的第一枚奥运金牌。在那一刻，许海峰的枪击碎了“东亚病夫”的百年耻辱，五星红旗升起了中国人必胜的自信和雄心。</p>
				</li>
				<li delay="2.5">
					<h2 class="user1"></h2>
					<p>看报道说，许海峰当时并不知道自己是第一块金牌，等到别人告诉他时，他形容自己的感受是“头皮都麻了”。</p>
				</li>
				<li delay="3.5">
					<h2 class="user4"></h2>
					<p>哈哈。当时担任国际奥委会主席的萨马兰奇在颁奖时对许海峰说：“今天是中国体育史上伟大的一天，我为能亲自把这块金牌授给中国运动员而感到荣幸。”</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>太厉害了！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="/static/img/expression/表情包13.png" width="60%"></figure>
				</li>
				<li delay="3.5">
					<h2 class="user3"></h2>
					<p>回顾历史的轨迹，五星红旗在越来越多的地方随风飘扬，而有个地方，五星红旗的升起成了惊天动地的划时代符号——香港。</p>
				</li>
				<li delay="4.5">
					<h2 class="user3"></h2>
					<p>1997年6月30日23时59分，大英帝国的米字旗徐徐降下，伴随着激昂的中华人民共和国国歌，五星红旗和紫荆花红旗徐徐升起。穿越156年岁月沧桑的香港，在亿万华夏儿女饱含热泪的注视中，回到暌违已久的祖国怀抱。</p>
				</li>
				<li delay="6">
					<h2 class="user3"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/xiangganghuigui.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>香港终于回归了！</p>
				</li>
				<li delay="3.5">
					<h2 class="user1"></h2>
					<p>是啊！1898年，清政府与英国签订《展拓香港界址专条》，将深圳河以南，界限街以北的230块大小岛屿租借给英国，并将租借地称为“新界”，租期为99年。</p>
				</li>
				<li delay="6.5">
					<h2 class="user3"></h2>
					<p>一直以来，中国收回领土都不是坦途。与英国谈判之初并不顺利，撒切尔夫人的要求背离中方意愿，侵犯中方权益，邓小平同志始终坚持中方原则“中国坚持英国对香港没有主权，也没有治权；而且中国不单要收回新界，更认为香港岛和九龙的割让是不平等条约的产物，因此必须整体收回香港！且在港驻军一条必须坚持，不能让步。”</p>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>香港是中国的！</p>
				</li>
				<li delay="3.5">
					<h2 class="user2"></h2>
					<p>中华人民共和国政府对香港恢复行使主权，五星红旗和香港特区区旗冉冉升起，洗刷了民族百年耻辱，可以说是迈出了祖国完全统一的重要一步。</p>
				</li>
				<li delay="3.5">
					<h2 class="user4"></h2>
					<p>现在让我们再把时间调回到2003年。无数中国航天人前赴后继、殚精竭虑投入事业，最终在2003年成功让五星红旗铺展在浩瀚宇宙中。</p>
				</li>
				<li delay="6">
					<h2 class="user3"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="/static/video/杨利伟太空祝福.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>神舟五号！</p>
				</li>
				<li delay="2.5">
					<h2 class="user1"></h2>
					<p>2003年10月15日，杨利伟乘神舟五号在太空展示五星红旗，成为中国第一位在太空展示五星红旗的航天员。</p>
				</li>
				<li delay="2.5">
					<h2 class="user4"></h2>
					<p>是的，这是我国第一艘载人飞船升空，神舟五号飞船运行到第七圈，杨利伟在太空舱中并列展示了中国国旗和联合国旗。</p>
				</li>
				<li delay="2.5">
					<h2 class="user4"></h2>
					<figure><img src="/static/img/神舟五号.png" width="90%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>真是特别的一幕。</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>好震撼！</p>
				</li>
				<li delay="6.5">
					<h2 class="user4"></h2>
					<p>从古代利用火箭推力升空的万户到近代中国第一架飞机制造者冯如，从中国第一颗人造卫星“东方红1号”的升空再到载人飞船的发射，中国航天人脚踏实地地一步步努力，成就了我们的太空之旅，成就了我们的“飞天梦”。但是我们的脚步并没有停止，第一架国产大飞机C919的生产、“娥嫦四号”成功着陆月球背面，中国航天人还会继续前进，我们的征程是星辰大海。</p>
				</li>
				<li delay="2.5">
					<h2 class="user6"></h2>
					<p>看了这么多国旗的故事，我突然想到了最近的一个让人十分气愤的事情。</p>
				</li>
				<li delay="3.5">
					<h2 class="user6"></h2>
					<p>8月3日下午，非法集会的暴徒来到香港海港城，撤下国旗，丢入大海，还在旗杆旁竖起写有“香港独立”的黑旗！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>侮辱国旗，这是犯罪！</p>
				</li>
				<li delay="3.5">
					<h2 class="user6"></h2>
					<p>是啊！好在第二日凌晨，十余名爱国爱港人士来到旗杆前，将一面崭新的五星红旗缓缓升起！在升旗完毕后，这些爱国香港市民还自发在国旗下唱国歌。</p>
				</li>
				<li delay="6">
					<h2 class="user6"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/xianggangshijian.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="1.5">
					<h2 class="user5"></h2>
					<p>五星红旗迎风飘扬！且将永远在中国香港迎风飘扬！</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<p>我饭圈女孩大军也出征了！守护我们最好的阿中~</p>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/expression/表情包14.png" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user6"></h2>
					<figure><img src="/static/img/expression/表情包15.png" width="60%"></figure>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>哈哈，你们饭圈女孩都上央视了！</p>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>其实关于国旗，还有很多重要的知识点呢@小百科</p>
				</li>
				<li delay="7.5">
					<h2 class="user7"></h2>
					<p>
					侮辱国旗国徽罪据《刑法》第二百九十九条：指在公共场合以焚烧、毁损、涂划、玷污、践踏等方式侮辱中华人民共和国国旗、国徽的行为。
					<br>
					过失不构成本罪，情节较轻的依照《治安管理处罚条例》的规定，由公安机关处十五日以下拘留。犯本罪，处三年以下有期徒刑、拘役、管制或剥夺政治权利。
					<br><br>
					凡国旗与区旗同时悬挂时，须将国旗置于中心、较高或者突出的位置。国旗与区旗同时或并列升挂、使用时，区旗应小于国旗。列队举持国旗和区旗行进时，国旗应在区旗之前。平列悬挂国旗和区旗时，国旗在右，区旗在左。
					</p>
				</li>
				<li delay="5.5">
					<h2 class="user3"></h2>
					<p>其实我们在升国旗的同时，也是在升起对未来的希望，坚定内心的信仰。镜头回到今天，回到当下，1952年建校以来，鲜艳的五星红旗引领、激励着南航“负重奋进、志在超越”，学校取得了跨越式的发展，一代代南航人茁壮成长，在祖国的各个岗位上奉献着自己青春。</p>
				</li>
				<li delay="6">
					<h2 class="user1"></h2>
					<figure>
					<video controls="controls" style="width: 90%;">
						<source src="http://pwvmh4cz5.bkt.clouddn.com/%E5%8D%97%E8%88%AA%E5%8D%87%E5%9B%BD%E6%97%97.mp4" type="video/mp4" >
					</video>
					</figure>
				</li>
				<li delay="3.5">
					<h2 class="user4"></h2>
					<p>进入新时代，南航也将坚定不移地朝着航空航天民航特色鲜明的世界一流大学目标努力奋进，为实现中华民族伟大复兴的中国梦做出新的更大的贡献！</p>
				</li>
				<li delay="3.5">
					<h2 class="user1"></h2>
					<p>70年来，五星红旗一次次高高飘扬，展示了国家的尊严、凝聚了人民的力量，也见证了中华民族从站起来、富起来到强起来的复兴之路。</p>
				</li>
				<li delay="3.5">
					<h2 class="user2"></h2>
					<p>少年强则国家强，一代人有一代人的长征路。让我们勇敢肩负起时代赋予的重任，努力在实现中华民族伟大复兴的中国梦中放飞青春梦想。</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>“效法羲和驭天马，志在长空牧群星”。</p>
				</li>
				<li delay="3.5" href="bless">
					<h2 class="user1"></h2>
					<p>翠屏山下，五星红旗飘扬的南航校园，无数南航学子将矢志不渝，为实现南航梦中国梦拼搏奋斗！现在就让我们来写下对南航、对祖国的祝福吧~</p>
				</li>
				<li href="wait">
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>最后快来点击链接，成为护旗手吧！</p>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<figure><a href="/nation_flag"><img id="nation_flag" src="/static/img/nation_flag_card.png" width="100%"></a></figure>
				</li>
			</ul>
			<!-- <div class="lucky_con">
				<div class="lucky_money">
					<div class="remove_btn"><i class="fa fa-remove"></i></div>
					<img src="{{ url_for('static', filename='img/poster.png') }}">
					<div class="underware"></div>
				</div>
			</div> -->
		</section>
		
		<section class="s2input bgm_on">
			<input id="input_msg" placeholder="" maxlength="50">
			<button id="send_btn">
				发送
			</button>
			<center></center>
			<!-- <p>背景音乐 ON</p> -->
		</section>
		
		<section class="s2packet">
			<center><a></a><a></a></center>
		</section>
		
	</div>

	<!--loading-->
	<div class="loading">
		<center><i></i></center>
	</div>
</body>
</html>