<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--meta name="viewport" content="width=device-width,initial-scale=1" /-->
	<!--上面一行代码是调节屏幕适应的，百度的，貌似没用 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="description" content="">
	<!-- 这次党代会的主要任务是：全面总结校第十五次党代会以来六年的工作和取得的经验，科学谋划学校未来五年的发展。 -->
	<title>我是升旗手</title>
	
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="shortcut icon" type="image/x-icon" href="img/logo.ico">
	<link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/loader.js"></script>
	<script type="text/javascript">
		var app = { useSystemScroll: false };
		
		//此处修改用户头像
		headimgurl = "<?php echo $headimgurl;?>";
		
		app._load_head = headimgurl == "undefined" ? 'img/user0.jpg' : headimgurl;
		console.log(app._load_head)
		window.addEventListener('touchmove', function(e){ !app.useSystemScroll && e.preventDefault(); }, false);
		window.addEventListener('load', function(){
			var myload = new loader('.asset');
			var loadTxt = document.querySelector('.asset ._load var');
			document.querySelector('body').style.fontSize=window.innerWidth/320*12+'px';
			myload.onLoading=function(p){
				loadTxt.innerText = Math.floor(p*100)+'%'
				if(p<1){ return; }
				setTimeout(function(){ appBegin(); }, 1000);
			}
			setTimeout(function(){ myload.load(); }, 100);
		}, false);
	</script>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-transit.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="nowx">
	<div class="asset">
		<div class="_list">
			<link asseturl="css/main.css">
			<script asseturl="js/jquery-2.1.1.min.js"></script>
			<script asseturl="js/jquery-transit.min.js"></script>
			<script asseturl="js/main.js"></script>  
			<img asseturl="img/loading.png">
			
			<img asseturl="img/ico.png">
			<img asseturl="img/s2-1.gif">
			<img asseturl="img/s1_4.jpg">
			<img asseturl="img/s2-3.png">
			<img asseturl="img/s2-input.png">
			<img asseturl="img/s4-1.jpg">
			
			<img asseturl="img/s2-3.png">
			<img asseturl="img/hand.png">
			<img asseturl="img/user.jpg">
			<img asseturl="img/user1.jpg">
			<img asseturl="img/user2.jpg">
			<img asseturl="img/user3.jpg">
			<!--以下是本人所加的 -->
			<img asseturl="img/user4.jpg">
			<img asseturl="img/user5.jpg">
			<img asseturl="img/user6.jpg">
			<img asseturl="img/user7.jpg">
			<img asseturl="img/user8.jpg">
			<img asseturl="img/user9.jpg">
			<img asseturl="img/user10.jpg">
			<img asseturl="img/user11.png">

			<span class="ms_ms_self" data-id="<?php echo $name;?>" data-imgurl="<?php echo $headimgurl;?>" ></span>
		</div>
		<div class="_load">
			<center><sub></sub><sup></sup><em style="background-image: url(img/user1.ico);"></em><var>0%</var></center>
			<script>
				document.querySelector('.asset ._load em').setAttribute('style', 'background-image: url('+app._load_head+');');
				if(!navigator.userAgent.match(/micromessenger/i)){ document.querySelector('body').setAttribute('class', 'nowx'); }
			</script>
		</div>
	</div>
	
	
	<div class="wrapper">
		
		<section class="s1">
			<header>
				<h3>输入1212，进入群聊</h3>
				<h4><i></i><i></i><i></i><i></i></h4>
			</header>
			<footer>
				<i>1</i><i>2</i><i>3</i>
				<i>4</i><i>5</i><i>6</i>
				<i>7</i><i>8</i><i>9</i>
				<i></i><i>0</i><i><span class="ico1"></span></i>
			</footer>
			<ul>
				<li class="user1"></li>
				<li class="user2"></li>
				<li class="user3"></li>
				<li class="user4"></li>
				<li class="user5"></li>
				<li class="user6"></li>
				<li class="user7"></li>
				<li class="user8"></li>
				<li class="user9"></li>
				<li class="user10"></li>
				<li class="user11"></li>
			</ul>
			<center><a>进入该群</a></center>
		</section>
		
		
		<section class="s2">
			<ul>
				<!-- delay 属性指当前话要停留多少秒 -->
				<li delay="0.5">
					<center><span class="innerTime">12月12日</span></center>
				</li>
				<li delay="1">
					<center><span>晓南、晓航邀请你和林左鸣（中国航空学会理事长）、吴光辉（C919大型客机总师）、吴希明（直-10、直-19总师）、黄领才（AG600水陆两栖飞机总师）、陈忠贵（北斗三号卫星总师）、叶培建（嫦娥系列总指挥、总师顾问）、孙泽洲（嫦娥三号、四号探测器总师）、李中华（英雄试飞员、“八一勋章”获得者）、徐川（南航马克思主义学院党总支书记）等加入群聊</span></center>
				</li>
				<li delay="2">
					<center><span>晓南修改群名为“与校友总师面对面”</span></center>
				</li>
				<li delay="1.5">
					<h2 class="user1"></h2>
					<p>老师们、同学们，校友们，大家好！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>这是什么群？？？</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="img/s2-1.gif" width="60%"></figure>
				</li>
				<li delay="1.5">
					<h2 class="user2"></h2>
					<p>眼力不错，一眼就看出了这个群的关键！群里航空航天总师云集，而且全是南航校友！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>哇塞！厉害了，我的航！这是要上天吗？<i class="ico11"></i></p>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<p>“总师又是南航造”这句话熟悉不？对啦，官微的推送经常说到这句话！为什么我总说“又”<i class="ico9"></i></p>
				</li>
				<li delay="3">
					<h2 class="user2"></h2>
					<p>一个个总师的名字，对于Nuaaer来说，不仅耳熟能详并且分外亲切呢。</p>
				</li>
				<li delay="4" class="my">
					<h2 class="user0"></h2>
					<figure><img src="img/enen.gif" width="60%"></figure>
				</li>
				<li delay="3">
					<h2 class="user2"></h2>
					<p>咳咳，今天，晓南晓航在这里跟大家宣布一个大新闻！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>看来我航这次要搞大动作，小板凳已经搬好了。</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<figure><img src="img/s1_4.jpg" width="60%"></figure>
				</li>
				<li delay="3.2">
					<h2 class="user2"></h2>
					<p>本周日，将有五位校友齐聚南航，带来“爱国奋斗·南航担当”校友总师思政公开课！</p>
				</li>
				<li delay="1.5" class="my">
					<h2 class="user0"></h2>
					<p>天呀！都有谁啊？</p>
				</li>
				<li delay="5">
					<h2 class="user1"></h2>
					<p>下面有请五位总师跟大家打个招呼吧。</p>
				</li>
				<li delay="3">
					<h2 class="user3"></h2>
					<p>大家好！我是中国航空学会理事长、南航78级校友林左鸣。</p>
				</li>
				<li delay="2">
					<h2 class="user4"></h2>
					<p>大家好！我是C919大型客机总设计师、南航77级校友吴光辉。</p>
				</li>
				<li delay="3">
					<h2 class="user5"></h2>
					<p>大家好！我是直-10、直-19总设计师、南航80级校友吴希明。</p>
				</li>
				<li delay="3">
					<h2 class="user6"></h2>
					<p>大家好！我是AG600水陆两栖飞机总设计师、南航84级校友黄领才。</p>
				</li>
				<li delay="3">
					<h2 class="user7"></h2>
					<p>大家好！我是北斗三号卫星总设计师、南航86级校友陈忠贵。</p>
				</li>
				<li delay="3" class="my">
					<h2 class="user0"></h2>
					<p>哇塞，这么多总师都来啦！真的假的，想想都让人激动呢<i class="ico10"></i>，赶紧让我平复一下心情。</p>
				</li>
				<li delay="2">
					<h2 class="user2"></h2>
					<p>除了五位校友总师讲课之外，现场还设置了“总师对话”环节，由马克思主义学院党总支书记徐川与各位总师对话。</p>
				</li>
				<li delay="4">
					<h2 class="user2"></h2>
					<p>@晓南，又见到川哥了，你激动不？</p>
				</li>
				<li delay="2">
					<h2 class="user1"></h2>
					<p>当然激动了，看到@徐川 川哥与五位总师对话，我更激动呢。</p>
				</li>
				<li delay="2">
					<h2 class="user11"></h2>
					<p>感谢晓南晓航，也感谢五位校友总师的到来，这个周日的校友总师思政公开课上，我也很荣幸有机会跟五位校友进行对话。</p>
				</li>
				<li delay="5">
					<h2 class="user11"></h2>
					<p>@<?php echo $name;?>，你有什么问题想问总师们吗？现场我来帮你提问。</p>
				</li>
				<li delay="3" class="my">
					<h2 class="user0"></h2>
					<p>被川哥这么一问，我有些慌了……C919、AG600、直十、北斗卫星，问哪个总师呢？容我想一想</p>
				</li>
				<li delay="3">
					<h2 class="user11"></h2>
					<p>幸福来得太突然，看来你有些hold不住了，你先慢慢想。</p>
				</li>
				<li delay="3">
					<h2 class="user9"></h2>
					<p>我也来跟大家打个招呼！因为执行嫦娥四号任务，我这次很遗憾不能回到母校与大家见面了。</p>
				</li>
				<li delay="3">
					<h2 class="user10"></h2>
					<p>母校的老师、同学们好！因为有相关任务，很抱歉这次也不能参加公开课了。</p>
				</li>
				<li delay="3">
					<h2 class="user11"></h2>
					<p>两位校友好！这次大家要务在身，期待在第二季校友总师公开课上与更多的校友见面。</p>
				</li>
				<li delay="3">
					<h2 class="user8"></h2>
					<p>@孙泽洲 等嫦娥四号任务结束之后，我们要一起参加第二季公开课，跟大家讲讲嫦娥探月的故事。</p>
				</li>
				<li delay="3">
					<h2 class="user9"></h2>
					<p>非常期待与母校的师生再次见面！</p>
				</li>
				<li delay="3">
					<h2 class="user11"></h2>
					<p>@叶培建，谢谢叶院士、叶院长对思政公开课的关心和支持！</p>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<p>@<?php echo $name;?>，想好提问的问题了吗？</p>
				</li>
				<li delay="3" class="my">
					<h2 class="user0"></h2>
					<p>总师的问题还没想好，想先问晓南一个问题，第一季总师公开课的课程表可以先发来看看吗？</p>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<p>看来你挺好学，发个红包鼓励你一下！<i class="ico5"></i></p>
				</li>
				<li delay="5" class="current">
					<h2 class="user1"></h2>
					<figure><img id="goodluck" src="img/goodluck.jpg" width="100%"></figure>
				</li>
				<li delay="3">
					<h2 class="user11"></h2>
					<p>欢迎校内外广大师生、校友前来听课，我们周日南航见！</p>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<p>@<?php echo $name;?>，听说周日公开课将有上千师生集体听课呢，要听课的话，快快来抢黄金座位的票吧！</p>
				</li>
				<li delay="3" class="my">
					<h2 class="user0"></h2>
					<p>谢谢晓南提醒，那怎么才能抢到听总师近距离讲课的票呢？</p>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<p>关注官微二维码，在双十二当天推送下留言，就有机会抢票！更有机会获得总师亲笔签名的航空模型！</p>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<figure><img src="img/code.jpg" width="100%"></figure>
				</li>
				<li delay="3">
					<h2 class="user1"></h2>
					<p>@<?php echo $name;?>，周日我们不见不散！</p>
				</li>
				<li delay="3" class="my">
					<h2 class="user0"></h2>
					<p>周日，与校友总师不见不散！<i class="ico7"></i></p>
				</li>
			</ul>
			<div class="lucky_con">
				<div class="lucky_money">
					<div class="remove_btn"><i class="fa fa-remove"></i></div>
					<img src="img/poster.png">
					<div class="underware"></div>
				</div>
			</div>
		</section>
		
		<section class="s2input bgm_on">
			<center></center>
			<p>背景音乐 ON</p>
		</section>
		
		<section class="s2packet">
			<center><a></a><a></a></center>
		</section>
		
	</div>

	<!--loading-->
	<div class="loading">
		<center><i></i></center>
	</div>
	
</body>
</html> 