<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="description" content="">
  <title>我们都是护旗手</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/barrage.css') }}">

  <script type="text/javascript">
    // var app = { useSystemScroll: false };

    //此处修改用户头像
    headimgurl = "{{ userinfo.headimgurl }}";

    // window.addEventListener('touchmove', function(e){ !app.useSystemScroll && e.preventDefault(); }, false);
    window.addEventListener('load', function(){
      document.querySelector('body').style.fontSize = window.innerWidth/320*12+'px';
      appBegin();
    }, false);
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-transit.min.js') }}"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/barrage.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/wx_manage.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main_noload.js') }}"></script>
</head>

<body class="nowx">

  <div id="userinfo" style="display: none">{{ userinfo }}</div>

  <img src="http://qiniuyun.dounine.live/background2.png" style="position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:1;">
  <div class="wrapper" style="z-index: 2;">
    <!-- 正文对话 -->
    <section class="s2">
      <ul>
        {% if not first %}
        <!-- <li delay="0.5">
          <center><span class="innerTime">10月1日</span></center>
        </li>
        <li delay="1">
          <center><span>晓南、晓航邀请你和航小宇、小能、小动、紫冬、电子四阿哥、小吾愿、材宝、七宝、锦小理、经管小九九、阿拾、小艺、小in、巡巡、天天、小石榴、小致等加入群聊</span></center>
        </li>
        <li delay="2">
          <center><span>晓南修改群名为“{{ title }}”</span></center>
        </li> -->

        <li delay="1.5">
          <h2 class="user1"></h2>
          <p>欢迎同学们进群！</p>
        </li>
        <li delay="1.5">
          <h2 class="user2"></h2>
          <figure><img src="http://qiniuyun.dounine.live/expression/%E8%A1%A8%E6%83%85%E5%8C%851.gif" width="60%"></figure>
        </li>
        <li delay="1.5" class="my">
          <h2 class="user0"></h2>
          <figure><img src="http://qiniuyun.dounine.live/expression/%E8%A1%A8%E6%83%85%E5%8C%852.gif" width="60%"></figure>
        </li>
        <li delay="1.5">
          <h2 class="user3"></h2>
          <p>哇~群里好热闹，是有什么活动吗？</p>
        </li>
        <li delay="2.5">
          <h2 class="user2"></h2>
          <p>2019年是新中国成立70周年，今天我们会一起为祖国庆生哦，成为十四亿分之一的护旗手！</p>
        </li>
        <li delay="1.5">
          <h2 class="user3"></h2>
          <p>好期待！</p>
        </li>
        <li delay="1.5" class="my">
          <h2 class="user0"></h2>
          <p>此生无悔入华夏，我是护旗手！</p>
        </li>
        <li delay="2.5">
          <h2 class="user1"></h2>
          <p>在成为护旗手之前我和晓航会先给大家讲讲“关于五星红旗你不得不知道的事”，带着大家回顾关于国旗的几个难忘瞬间，一起为伟大祖国点赞、加油！</p>
        </li>
        <li delay="2.5">
          <h2 class="user2"></h2>
          <p>同时为了让大家了解得更深入，“小百科”还有很多关于国旗的小知识和小测试等着大家哟，同学们准备好了吗？</p>
        </li>
        <li delay="1.5">
          <h2 class="user10"></h2>
          <p>准备好啦！</p>
        </li>
        <li delay="1.5">
          <h2 class="user1"></h2>
          <p>那我们开始吧~</p>
        </li>
        {% endif %}

        {% block content %}
        {% endblock %}

        <li delay="1" style="margin-top: 1.5em;">
          <center><span><a href="/choose" style="text-decoration: none;color: white;">返回，进入下一个群聊</a></span></center>
        </li>
        <li delay="1">
          <center><span><a href="/scene8" style="text-decoration: none;color: white;">直接前往留言祝福、成为护旗手</a></span></center>
        </li>
      </ul>
    </section>

    <section class="s2input bgm_on">
      <input id="input_msg" placeholder="" maxlength="50">
      <button id="send_btn">
        发送
      </button>
      <center></center>
    </section>

  </div>
</body>
</html>