{%extends "scene_base.html"%}

{% block content %}
<!-- 1．历史初登场 -->
<script>
document.title = '历史初登场';
</script>
<li delay="3.5">
  <h2 class="user2"></h2>
  <p>大家都知道五星红旗是中华人民共和国的国旗，是国家的象征和标志，那我就先给大家讲讲五星红旗的“历史初登场”，走进五星红旗诞生的那些事。</p>
</li>
<li delay="1.5">
  <h2 class="user6"></h2>
  <figure><img src="/static/img/expression/表情包3.gif" width="60%"></figure>
</li>
<li delay="5">
  <h2 class="user2"></h2>
  <figure>
  <video controls="controls" style="width: 90%;" poster="/static/img/video_cover/开国大典.png">
    <source src="http://qiniuyun.dounine.live/kaiguodadian.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="3.5">
  <h2 class="user2"></h2>
  <p>1949年10月1日，开国大典之上，毛主席在天安门城楼亲手按动电钮，第一面五星红旗在天安门广场上冉冉升起。这面五星红旗从此飘扬于东方，中国人民从此站起来了，成为国家的主人！</p>
</li>
<li delay="1.5">
  <h2 class="user11"></h2>
  <p>真是激动人心的时刻！！！</p>
</li>
<li delay="1.5">
  <h2 class="user12"></h2>
  <p>五星红旗迎风飘扬的场景太壮观了！</p>
</li>
<li delay="2.5">
  <h2 class="user2"></h2>
  <p>其实它的诞生也是意义非凡的哦~解放战争胜利后，新中国的建设开始筹备。在1949年7月，新政治协商会议筹备会发出了征集国旗图案的通告。</p>
</li>
<li delay="3.5">
  <h2 class="user2"></h2>
  <p>征集国旗图案的消息迅速在全国、海外传开，一幅幅国旗图案从世界各地华人手中飞向祖国北京。不到一个月，就收到了应征国旗图案2992幅。在众多作品中，曾联松先生的作品脱颖而出。</p>
</li>
<li delay="3.5">
  <h2 class="user18"></h2>
  <figure><img src="/static/img/国企初稿.png" width="90%"></figure>
</li>
<li delay="9">
  <h2 class="user2"></h2>
  <p>这是曾联松先生提交的国旗初稿，红色背景中，四颗小星围绕一颗大星，大星上放置锤子镰刀，设计之初的想法是中国共产党领导的工农红军是以五角星作为自己的标志的，而中国共产党又是中国人民的大救星，进而决定用五角星来象征它，用四颗小五角星来象征由四个社会阶级组成的人民。</p>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <p>原来一开始的初稿是这样的啊！</p>
</li>
<li delay="1.5">
  <h2 class="user4"></h2>
  <p>那么后来呢？</p>
</li>
<li delay="3.5">
  <h2 class="user2"></h2>
  <p>之后，根据中国人民政治协商会议小组讨论的意见，去除了类似苏联国旗的锤子镰刀标志，最终在1949年9月27日正式决定采纳红底五星旗的方案，并将其改名为“五星红旗”。</p>
</li>
<li delay="1.5">
  <h2 class="user14"></h2>
  <p>原来这就是五星红旗的诞生。</p>
</li>
<li delay="1.5">
  <h2 class="user13"></h2>
  <p>亿万人民心向党，真是深刻的设计理念！</p>
</li>
<li delay="1.5">
  <h2 class="user8"></h2>
  <p>涨知识了，我还想要知道更多！</p>
</li>
<li delay="1.5">
  <h2 class="user2"></h2>
  <p>@小百科</p>
</li>
<li delay="9">
  <h2 class="user18"></h2>
  <p>
    【五星红旗的礼仪】
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;《中华人民共和国国旗法》第十二条规定：国旗“应当早晨升起，傍晚降下”。
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;《中华人民共和国国旗法》规定：为确保国旗的圣洁和完整，天安门广场上空的国旗基本上几天更换一面。每逢重大节日，必须更换新国旗。即使国旗不受损，悬挂的最长时间也不得超过10天。
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;中国的航空公司中只有中国国际航空公司可以在飞行器上喷绘中国国旗。
  </p>
</li>
<li delay="1.5">
  <h2 class="user18"></h2>
  <p>了解了这么多知识，我来考考你们吧。</p>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <figure><img src="/static/img/expression/表情包4.gif" width="60%"></figure>
</li>
<li delay="1.5" id="question2" href="question">
  <h2 class="user18"></h2>
  <p>
    你知道《国旗法》中规定天安门广场上空国旗最长的悬挂时间是几天吗？（回复字母）
    <br><br>
    A 30天
    <br>
    B 10天
    <br>
    C 3天
  </p>
</li>
<li href="wait">
</li>

{% endblock %}