{%extends "scene_base.html"%}

{% block content %}
<script>
document.title = '红金色荣光';
</script>
<!-- 4、红金色荣光 -->
<li delay="2.5">
  <h2 class="user1"></h2>
  <p>同学们知道吗?为了让五星红旗在联合国总部升起，我们用了22年；而让它在奥运会赛场上升起，我们等待了35年。</p>
</li>
<li delay="6">
  <h2 class="user1"></h2>
  <figure>
  <video controls="controls" style="width: 90%;" poster="/static/img/video_cover/许海峰.png">
    <source src="http://qiniuyun.dounine.live/xuhaifeng.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="2.5" class="my">
  <h2 class="user0"></h2>
  <p>我知道这个~这是奥运史上第一次奏起中华人民共和国国歌，升起中华人民共和国国旗。</p>
</li>
<li delay="1.5">
  <h2 class="user10"></h2>
  <p>真是历史性的一刻，晓南你能给我们详细讲讲吗？</p>
</li>
<li delay="9">
  <h2 class="user1"></h2>
  <p>没问题。许海峰参加男子自选手枪慢射是1984年洛杉矶奥运会第一个决出金牌的项目。当日在洛杉矶普拉多射击场，有两个中国人参加这项比赛——王义夫和许海峰。不同于王义夫先前在全国运动会双金入囊，当时的许海峰虽成绩不错，却还未经大赛历练。直到最后十发，许海峰原本稳定的发挥突然失常。</p>
</li>
<li delay="1.5">
  <h2 class="user20"></h2>
  <figure><img src="/static/img/expression/表情包12.png" width="60%"></figure>
</li>
<li delay="5.5">
  <h2 class="user1"></h2>
  <p>连着七发子弹最高只有八环，感到状态不对的许海峰及时停下来调整状态，所有人屏息期待，最终，最后的三环成就了他566环的成绩，也赢下了我们国家的第一枚奥运金牌。在那一刻，许海峰的枪击碎了“东亚病夫”的百年耻辱，五星红旗升起了中国人必胜的自信和雄心。</p>
</li>
<li delay="2.5">
  <h2 class="user16"></h2>
  <p>看报道说，许海峰当时并不知道自己是第一块金牌，等到别人告诉他时，他形容自己的感受是“头皮都麻了”。</p>
</li>
<li delay="3.5">
  <h2 class="user1"></h2>
  <p>哈哈。当时担任国际奥委会主席的萨马兰奇在颁奖时对许海峰说：“今天是中国体育史上伟大的一天，我为能亲自把这块金牌授给中国运动员而感到荣幸。”</p>
</li>
<li delay="1.5">
  <h2 class="user19"></h2>
  <p>太厉害了！</p>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <figure><img src="/static/img/expression/表情包13.png" width="60%"></figure>
</li>

{% endblock %}