{%extends "scene_base.html"%}

{% block content %}
<script>
document.title = '南航中国梦';
</script>
<!-- 8、南航中国梦 -->
<li delay="9">
  <h2 class="user2"></h2>
  <p>回顾每一段历史，其实我们在升起国旗的同时，也是在升起对未来的希望，坚定内心的信仰。镜头回到今天，回到当下，1952年建校以来，鲜艳的五星红旗引领、激励着南航“负重奋进、志在超越”，学校取得了跨越式的发展，一代代南航人茁壮成长，在祖国的各个岗位上奉献着自己的青春。</p>
</li>
<li delay="6">
  <h2 class="user2"></h2>
  <figure>
  <video controls="controls" style="width: 100%;" poster="http://qiniuyun.dounine.live/video_cover/%E5%8D%97%E8%88%AA%E5%8D%87%E5%9B%BD%E6%97%97.png">
    <source src="http://qiniuyun.dounine.live/nanhangshengguoqi.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="3">
  <h2 class="user21"></h2>
  <p>一代人有一代人的长征路，时代的接力棒到了我们手中，我们应当紧紧握住，不忘初心，继续前进！</p>
</li>
<li delay="2">
  <h2 class="user22"></h2>
  <p>“效法羲和驭天马，志在长空牧群星”，我们的征途是星辰大海！</p>
</li>
<li delay="3">
  <h2 class="user23"></h2>
  <p>刚步入大学的我们也一定要努力学习专业知识，做有理想、有本领、有担当的南航人！</p>
</li>
<li delay="5" href="bless">
  <h2 class="user2"></h2>
  <p>御道街旁，翠屏山下，天目湖畔，在五星红旗飘扬的南航校园，相信无数南航学子将矢志不渝，为实现南航梦、中国梦拼搏奋斗！现在就让我们来写下对南航、对新中国成立70周年的祝福吧~</p>
</li>
<li href="wait">
</li>
<li delay="2">
  <h2 class="user2"></h2>
  <p>最后快来点击链接，成为护旗手吧！</p>
</li>
<li delay="2">
  <h2 class="user2"></h2>
  <figure><a href="/nation_flag"><img id="nation_flag" src="/static/img/nation_flag_card.png" width="100%"></a></figure>
</li>
<li href="wait">
</li>

{% endblock %}