{%extends "scene_base.html"%}

{% block content %}
<script>
document.title = '向宇宙进发';
</script>
<!-- 6、向宇宙进发 -->
<li delay="3.5">
  <h2 class="user1"></h2>
  <p>现在让我们再把时间调回到2003年。无数中国航天人前赴后继、殚精竭虑投入事业，最终在2003年成功让五星红旗铺展在浩瀚宇宙中。</p>
</li>
<li delay="6">
  <h2 class="user1"></h2>
  <figure>
  <video controls="controls" style="width: 90%;" poster="/static/img/神舟五号.png">
    <source src="/static/video/杨利伟太空祝福.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="1.5">
  <h2 class="user20"></h2>
  <p>神舟五号！</p>
</li>
<li delay="2.5">
  <h2 class="user1"></h2>
  <p>2003年10月15日，杨利伟乘神舟五号在太空展示五星红旗，成为中国第一位在太空展示五星红旗的航天员。</p>
</li>
<li delay="2.5">
  <h2 class="user1"></h2>
  <p>是的，这是我国第一艘载人飞船升空，神舟五号飞船运行到第七圈，杨利伟在太空舱中并列展示了中国国旗和联合国旗。</p>
</li>
<li delay="2.5">
  <h2 class="user1"></h2>
  <figure><img src="/static/img/神舟五号.png" width="90%"></figure>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <p>真是特别的一幕。</p>
</li>
<li delay="1.5">
  <h2 class="user14"></h2>
  <p>好震撼！</p>
</li>
<li delay="6.5">
  <h2 class="user1"></h2>
  <p>从古代利用火箭推力升空的万户到近代中国第一架飞机制造者冯如，从中国第一颗人造卫星“东方红1号”的升空再到载人飞船的发射，中国航天人脚踏实地地一步步努力，成就了我们的太空之旅，成就了我们的“飞天梦”。但是我们的脚步并没有停止，第一架国产大飞机C919的生产、“娥嫦四号”成功着陆月球背面，中国航天人还会继续前进，我们的征程是星辰大海。</p>
</li>

{% endblock %}