<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="description" content="">
  <title>今日我们都是护旗手</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/barrage.css') }}">

  <script type="text/javascript">
    var app = { useSystemScroll: false };

    //此处修改用户头像
    headimgurl = "{{ userinfo.headimgurl }}";

    window.addEventListener('touchmove', function(e){ !app.useSystemScroll && e.preventDefault(); }, false);
    window.addEventListener('load', function(){
      document.querySelector('body').style.fontSize = window.innerWidth/320*12+'px';
      appBegin();
    }, false);
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-transit.min.js') }}"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/barrage.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/wx_manage.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main_noload.js') }}"></script>
</head>

<body class="nowx">

  <div id="userinfo" style="display: none">{{ userinfo }}</div>

  <div class="wrapper">
    <!-- 正文对话 -->
    <section class="s2">
      <ul>
        <!-- delay 属性指当前话要停留多少秒 -->
        <li delay="0.5">
          <center><span class="innerTime">10月1日</span></center>
        </li>
        <li delay="1">
          <center><span>晓南、晓航邀请你和一院、二院、三院、四院、五院、六院、七院、八院、九院、十院、十一院、十二院、十五院、十六院、十八院等加入群聊</span></center>
        </li>
        <li delay="2">
          <center><span>晓南修改群名为“今日我们都是护旗手”</span></center>
        </li>

        <li delay="1.5">
          <h2 class="user1"></h2>
          <p>欢迎同学们进群！</p>
        </li>
        <li delay="1.5">
          <h2 class="user2"></h2>
          <figure><img src="/static/img/expression/表情包1.gif" width="60%"></figure>
        </li>
        <li delay="1.5" class="my">
          <h2 class="user0"></h2>
          <figure><img src="/static/img/expression/表情包2.gif" width="60%"></figure>
        </li>
        <li delay="1.5">
          <h2 class="user3"></h2>
          <p>哇~群里好热闹，是有什么活动吗？</p>
        </li>
        <li delay="2.5">
          <h2 class="user2"></h2>
          <p>2019年是新中国成立70周年，今天我们会一起为祖国庆生哦，成为十四亿分之一的护旗手！</p>
        </li>
        <li delay="1.5">
          <h2 class="user3"></h2>
          <p>好期待！</p>
        </li>
        <li delay="1.5" class="my">
          <h2 class="user0"></h2>
          <p>此生无悔入华夏，我是护旗手！</p>
        </li>
        <li delay="2.5">
          <h2 class="user1"></h2>
          <p>在成为护旗手之前我和晓航会先给大家讲讲“关于五星红旗你不得不知道的事”，带着大家回顾关于国旗的几个难忘瞬间，一起为伟大祖国点赞、加油！</p>
        </li>
        <li delay="2.5">
          <h2 class="user2"></h2>
          <p>同时为了让大家了解得更深入，“小百科”还有很多关于国旗的小知识和小测试等着大家哟，同学们准备好了吗？</p>
        </li>
        <li delay="1.5">
          <h2 class="user10"></h2>
          <p>准备好啦！</p>
        </li>
        <li delay="1.5">
          <h2 class="user1"></h2>
          <p>那我们开始吧~</p>
        </li>

        {% block content %}
        {% endblock %}

        <!-- 8、南航中国梦 -->
        <li delay="5.5">
          <h2 class="user2"></h2>
          <p>其实我们在升国旗的同时，也是在升起对未来的希望，坚定内心的信仰。镜头回到今天，回到当下，1952年建校以来，鲜艳的五星红旗引领、激励着南航“负重奋进、志在超越”，学校取得了跨越式的发展，一代代南航人茁壮成长，在祖国的各个岗位上奉献着自己青春。</p>
        </li>
        <li delay="6">
          <h2 class="user2"></h2>
          <figure>
          <video controls="controls" style="width: 90%;">
            <source src="http://pwvmh4cz5.bkt.clouddn.com/%E5%8D%97%E8%88%AA%E5%8D%87%E5%9B%BD%E6%97%97.mp4" type="video/mp4" >
          </video>
          </figure>
        </li>
        <li delay="3.5">
          <h2 class="user1"></h2>
          <p>进入新时代，南航也将坚定不移地朝着航空航天民航特色鲜明的世界一流大学目标努力奋进，为实现中华民族伟大复兴的中国梦做出新的更大的贡献！</p>
        </li>
        <li delay="3.5">
          <h2 class="user1"></h2>
          <p>70年来，五星红旗一次次高高飘扬，展示了国家的尊严、凝聚了人民的力量，也见证了中华民族从站起来、富起来到强起来的复兴之路。</p>
        </li>
        <li delay="3.5">
          <h2 class="user2"></h2>
          <p>少年强则国家强，一代人有一代人的长征路。让我们勇敢肩负起时代赋予的重任，努力在实现中华民族伟大复兴的中国梦中放飞青春梦想。</p>
        </li>
        <li delay="1.5">
          <h2 class="user2"></h2>
          <p>“效法羲和驭天马，志在长空牧群星”。</p>
        </li>
        <li delay="3.5" href="bless">
          <h2 class="user1"></h2>
          <p>翠屏山下，五星红旗飘扬的南航校园，无数南航学子将矢志不渝，为实现南航梦中国梦拼搏奋斗！现在就让我们来写下对南航、对祖国的祝福吧~</p>
        </li>
        <li href="wait">
        </li>
        <li delay="1.5">
          <h2 class="user2"></h2>
          <p>最后快来点击链接，成为护旗手吧！</p>
        </li>
        <li delay="1.5">
          <h2 class="user2"></h2>
          <figure><a href="/nation_flag"><img id="nation_flag" src="/static/img/nation_flag_card.png" width="100%"></a></figure>
        </li>
      </ul>
    </section>

    <section class="s2input bgm_on">
      <input id="input_msg" placeholder="" maxlength="50">
      <button id="send_btn">
        发送
      </button>
      <center></center>
    </section>

  </div>
</body>
</html>