{%extends "scene_base.html"%}

{% block content %}
<!-- 2、历史“最高峰” -->
<script>
document.title = '历史“最高峰”';
</script>
<li delay="2.5">
  <h2 class="user1"></h2>
  <p>从五星红旗在天安门广场冉冉升起，到它飘扬在世界之巅——珠穆朗玛峰，你们知道是哪一年吗？</p>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <figure><img src="/static/img/expression/表情包5.gif" width="60%"></figure>
</li>
<li delay="1.5">
  <h2 class="user9"></h2>
  <figure><img src="/static/img/expression/表情包6.gif" width="60%"></figure>
</li>
<li delay="1.5">
  <h2 class="user1"></h2>
  <p>@小百科</p>
</li>
<li delay="3.5">
  <h2 class="user18"></h2>
  <figure><img src="/static/img/珠穆朗玛峰.png" width="90%"></figure>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <p>这是中国第一次征服珠峰吗？</p>
</li>
<li delay="1.5">
  <h2 class="user1"></h2>
  <p>是的。这是1960年5月25日，中国登山队第一次从东北山脊登上海拔8848.13米的世界最高峰珠穆朗玛峰的纪念合照。从左到右，依次是王富洲、贡布、屈银华。他们创造了人类首次从北坡登上珠峰的世界纪录。</p>
</li>
<li delay="6">
  <h2 class="user1"></h2>
  <figure>
  <video controls="controls" style="width: 90%;">
    <source src="http://pwvmh4cz5.bkt.clouddn.com/pandengzhufeng.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="1.5">
  <h2 class="user7"></h2>
  <figure><img src="/static/img/expression/表情包7.gif" width="60%"></figure>
</li>
<li delay="1.5">
  <h2 class="user16"></h2>
  <p>为什么我们要选择在条件很艰苦的1960年登上珠峰呢？</p>
</li>
<li delay="6.5">
  <h2 class="user1"></h2>
  <p>这个问题问得好！珠穆朗玛峰位于中国和尼泊尔两国边境，对于珠峰的归属，当时中尼双方存在争议。划界谈判时，中方提议，将边境线划在珠峰顶峰，但尼方以尼泊尔登山队率先于1953年登顶珠峰为由，认为珠穆朗玛峰并非中国领土。正是这样的背景，使得中国攀登珠蜂，陡然间成了一项庄严的国家使命。再苦再难，也要克服努力完成。</p>
</li>
<li delay="1.5">
  <h2 class="user15"></h2>
  <p>真是一条充满艰险的登顶之路！</p>
</li>
<li delay="1.5">
  <h2 class="user1"></h2>
  <p>看着五星红旗登上珠峰，大家有什么感想吗？</p>
</li>
<li delay="2.5" class="my">
  <h2 class="user0"></h2>
  <p>中国登山前辈的精神让人敬佩！是他们的“无我”之境，让冰天雪地里飘扬起那一抹鲜艳的红！</p>
</li>
<li delay="1.5">
  <h2 class="user2"></h2>
  <p>让我们为中国登山人的精神鼓掌！</p>
</li>
<li delay="1.5">
  <h2 class="user11"></h2>
  <figure><img src="/static/img/expression/表情包8.gif" width="60%"></figure>
</li>
<li delay="1.5">
  <h2 class="user9"></h2>
  <figure><img src="/static/img/expression/表情包9.gif" width="60%"></figure>
</li>
<li delay="1.5">
  <h2 class="user5"></h2>
  <figure><img src="/static/img/expression/表情包10.gif" width="60%"></figure>
</li>
<li delay="4.5">
  <h2 class="user1"></h2>
  <p>中国登山者带着五星红旗登顶珠峰，对中华儿女而言是无上荣光。时至今日，中国的领土纠纷仍在发生，但我们要始终坚定，中国的领土一点都不能少！作为青年意气风发的你们，应向登山前辈们学习，练就过硬本领，甘于奉献、勇于担当。</p>
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <figure><img src="/static/img/expression/表情包11.gif" width="60%"></figure>
</li>
<li delay="2.5">
  <h2 class="user18"></h2>
  <p>我还为大家准备了更多的资料，让大家更进一步了解当年的登顶故事哦。</p>
</li>
<li delay="1.5" id="question3" href="question">
  <h2 class="user7"></h2>
  <p>
    你想具体了解哪一方面？ （回复数字）
    <br><br>
    1.五星红旗的登顶之险
    <br>
    2.五星红旗的登顶成就
    <br>
    3.五星红旗的登顶意义
    <br>
    4.我都了解过啦，跳过
  </p>
</li>
<li href="wait">
</li>
<li delay="1.5" class="my">
  <h2 class="user0"></h2>
  <p>看完啦，这一次的问题我肯定能答对！@小百科</p>
</li>
<li delay="1.5" id="question4" href="question">
  <h2 class="user18"></h2>
  <p>
    你知道中国登山队首次登顶珠峰是哪一年吗？（输入字母即可）
    <br><br>
    A 1960年
    <br>
    B 1959年
    <br>
    C 1953年
  </p>
</li>
<li href="wait">
</li>
{% endblock %}