{%extends "scene_base.html"%}

{% block content %}
<script>
document.title = '中国香港加油';
</script>
<!-- 7、中国香港人 -->
<li delay="3">
  <h2 class="user7"></h2>
  <p>我突然想到了最近的一个让人十分气愤的事情。</p>
</li>
<li delay="4">
  <h2 class="user7"></h2>
  <p>8月3日下午，非法集会的暴徒来到香港海港城，撤下国旗，丢入大海，还在旗杆旁竖起写有“香港独立”的黑旗！</p>
</li>
<li delay="2" class="my">
  <h2 class="user0"></h2>
  <p>侮辱国旗，这是犯罪！</p>
</li>
<li delay="5">
  <h2 class="user17"></h2>
  <p>好在第二日凌晨，十余名爱国爱港人士来到旗杆前，将一面崭新的五星红旗缓缓升起！在升旗完毕后，这些爱国香港市民还自发在国旗下唱国歌。</p>
</li>
<li delay="6">
  <h2 class="user17"></h2>
  <figure>
  <video controls="controls" style="width: 100%;" poster="http://qiniuyun.dounine.live/video_cover/%E9%A6%99%E6%B8%AF%E4%BA%8B%E4%BB%B6.png">
    <source src="http://qiniuyun.dounine.live/xianggangshijian.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="3">
  <h2 class="user8"></h2>
  <p>五星红旗迎风飘扬！且将永远在中国香港迎风飘扬！</p>
</li>
<li delay="3">
  <h2 class="user11"></h2>
  <p>我饭圈女孩大军也出征了！守护我们最好的阿中~</p>
</li>
<li delay="2">
  <h2 class="user13"></h2>
  <figure><img src="http://qiniuyun.dounine.live/expression/%E8%A1%A8%E6%83%85%E5%8C%8514.png" width="60%"></figure>
</li>
<li delay="2">
  <h2 class="user13"></h2>
  <figure><img src="http://qiniuyun.dounine.live/expression/%E8%A1%A8%E6%83%85%E5%8C%8515.png" width="60%"></figure>
</li>
<li delay="2" class="my">
  <h2 class="user0"></h2>
  <p>哈哈，你们饭圈女孩都上央视了！</p>
</li>
<li delay="3" class="my">
  <h2 class="user0"></h2>
  <figure>
  <video controls="controls" style="width: 100%;" poster="http://qiniuyun.dounine.live/video_cover/%E9%A5%AD%E5%9C%88%E5%A5%B3%E5%AD%A9.png">
    <source src="http://qiniuyun.dounine.live/fanquannvhai.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="2">
  <h2 class="user2"></h2>
  <p>其实关于国旗，还有很多重要的知识点呢@小百科</p>
</li>
<li delay="7.5">
  <h2 class="user18"></h2>
  <p>
  &nbsp;&nbsp;&nbsp;&nbsp;侮辱国旗国徽罪据《刑法》第二百九十九条：指在公共场合以焚烧、毁损、涂划、玷污、践踏等方式侮辱中华人民共和国国旗、国徽的行为。
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;过失不构成本罪，情节较轻的依照《治安管理处罚条例》的规定，由公安机关处十五日以下拘留。犯本罪，处三年以下有期徒刑、拘役、管制或剥夺政治权利。
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;凡国旗与区旗同时悬挂时，须将国旗置于中心、较高或者突出的位置。国旗与区旗同时或并列升挂、使用时，区旗应小于国旗。列队举持国旗和区旗行进时，国旗应在区旗之前。平列悬挂国旗和区旗时，国旗在右，区旗在左。
  </p>
</li>

{% endblock %}