{%extends "scene_base.html"%}

{% block content %}
<script>
document.title = '七子初回归';
</script>
<!-- 5、七子初回归 -->
<li delay="4">
  <h2 class="user2"></h2>
  <p>回顾历史的轨迹，五星红旗在越来越多的地方随风飘扬，而有个地方，五星红旗的升起成了惊天动地的划时代符号——香港。</p>
</li>
<li delay="6">
  <h2 class="user2"></h2>
  <p>1997年6月30日23时59分，大英帝国的米字旗徐徐降下，伴随着激昂的中华人民共和国国歌，五星红旗和紫荆花红旗徐徐升起。穿越156年岁月沧桑的香港，在亿万华夏儿女饱含热泪的注视中，回到暌违已久的祖国怀抱。</p>
</li>
<li delay="2">
  <h2 class="user13"></h2>
  <figure><img src="/static/img/expression/表情包17.jpg" width="60%"></figure>
</li>
<li delay="6">
  <h2 class="user2"></h2>
  <figure>
  <video controls="controls" style="width: 100%;" poster="http://qiniuyun.dounine.live/video_cover/%E9%A6%99%E6%B8%AF%E5%9B%9E%E5%BD%92.png">
    <source src="http://qiniuyun.dounine.live/xiangganghuigui.mp4" type="video/mp4" >
  </video>
  </figure>
</li>
<li delay="2" class="my">
  <h2 class="user0"></h2>
  <p>香港终于回归了！</p>
</li>
<li delay="5">
  <h2 class="user12"></h2>
  <p>是啊！1898年，清政府与英国签订《展拓香港界址专条》，将深圳河以南，界限街以北的230块大小岛屿租借给英国，并将租借地称为“新界”，租期为99年。</p>
</li>
<li delay="2">
  <h2 class="user5"></h2>
  <figure><img src="/static/img/expression/表情包18.jpg" width="60%"></figure>
</li>
<li delay="9">
  <h2 class="user2"></h2>
  <p>一直以来，中国收回领土都不是坦途。与英国谈判之初并不顺利，撒切尔夫人的要求背离中方意愿，侵犯中方权益，邓小平同志始终坚持中方原则“中国坚持英国对香港没有主权，也没有治权；而且中国不单要收回新界，更认为香港岛和九龙的割让是不平等条约的产物，因此必须整体收回香港！且在港驻军一条必须坚持，不能让步。”</p>
</li>
<li delay="1.5">
  <h2 class="user6"></h2>
  <p>香港是中国的！</p>
</li>
<li delay="5">
  <h2 class="user2"></h2>
  <p>中华人民共和国政府对香港恢复行使主权，五星红旗和香港特区区旗冉冉升起，洗刷了民族百年耻辱，可以说是迈出了祖国完全统一的重要一步。</p>
</li>
<li delay="2">
  <h2 class="user2"></h2>
  <p>接下来又是熟悉的答题环节@小百科</p>
</li>
<li delay="1.5" id="question7" href="question">
  <h2 class="user18"></h2>
  <p>
    你知道香港岛被割让出去的时间是？（输入字母即可）
    <br><br>
    A 1842年
    <br>
    B 1898年
    <br>
    C 1901年
  </p>
</li>
<li href="wait">
</li>

{% endblock %}